*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: bisque;
}

nav{
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

ul{
    display: flex;
    gap: 2rem;
}

li{
    list-style-type: none;
}

li a{
    text-decoration: none;
}